<h1>Search Results</h1>
<% if @people.present? %>
  <p>
    Your search <%= params[:name].present? ? "for \"#{params[:name]}\"" : "" %>
    <%= @species.present? ? "in the \"#{@species.name}\" species category" : "All Species" %>
    found <%= @people.size %> characters.
  </p>

  <%= paginate @people%>


  <ul>
    <% @people.each do |person| %>
        <li><%= link_to person.name, person_path(person) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No search results found.</p>
<% end %>
