<tr id="<%= dom_id species %>">
  <td><%= species.name %></td>
  <td><%= species.average_lifespan %></td>
  <td><%= species.language %></td>
  <td><%= link_to "View People", species_people_path(species) %></td>
</tr>
