<div id="<%= dom_id species %>">
  <p>
    <strong>Name:</strong>
    <%= species.name %>
  </p>

  <p>
    <strong>Average lifespan:</strong>
    <%= species.average_lifespan %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= species.language %>
  </p>

  <p>
    <strong>Planet:</strong>
    <%= species.planet %>
  </p>

</div>
