<tr id="<%= dom_id film %>">
  <td><%= film.title %></td>
  <td><%= film.director %></td>
  <td><%= film.release_date %></td>
  <td><%= link_to "View Characters", film_people_path(film) %></td>
</tr>
