<tr id="<%= dom_id vehicle %>">
  <td><%= vehicle.name %></td>
  <td><%= vehicle.model %></td>
  <td><%= vehicle.vehicle_class %></td>
  <td><%= link_to "View Pilots", vehicle_people_path(vehicle) %></td>
</tr>
