<tr id="<%= dom_id vehicle %>">
  <td><%= vehicle.name %></td>
  <td><%= vehicle.model %></td>
  <td><%= vehicle.manufacturer %></td>
  <td><%= link_to "View Characters", vehicle_people_path(vehicle) %></td>
</tr>
