<tr id="<%= dom_id starship %>">
  <td><%= starship.name %></td>
  <td><%= starship.model %></td>
  <td><%= starship.manufacturer %></td>
  <td><%= link_to "View Characters", starship_people_path(starship) %></td>
</tr>
