<tr id="<%= dom_id starship %>">
  <td><%= starship.name %></td>
  <td><%= starship.model %></td>
  <td><%= starship.manufacturer %></td>
 <li><%= link_to starship.name, starship_people_path(starship) %></li>
</tr>
