<tr id="<%= dom_id starship %>">
  <td><%= starship.name %></td>
  <td><%= starship.model %></td>
  <td><%= starship.starship_class %></td>
  <td><%= link_to "View Pilots", starship_people_path(starship) %></td>
</tr>
