<nav>
  <ul>
    <li><%= link_to 'STAR WARS UNIVERSE', root_path %></li>
    <li><%= link_to 'People', root_path %></li>
    <li><%= link_to 'Species', species_index_path %></li>
    <li><%= link_to 'Vehicles', vehicles_path %></li>
    <li><%= link_to 'Films', films_path %></li>
    <li><%= link_to 'Starships', starships_path %></li>
    <li><%= link_to 'Planets', planets_path %></li>
    <li><%= link_to 'About', about_path %></li>

  </ul>

  <%= form_tag(people_path, method: :get) do %>
  <%= text_field_tag(:name, params[:name], placeholder: 'Search by Name') %>
  <%= select_tag(:species_id, options_for_select(Species.all.map { |s| [s.name, s.id] }), include_blank: 'Search by Species') %>
  <%= submit_tag('Search') %>
<% end %>
</nav>