<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">STAR WARS UNIVERSE</a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarNav">
    <div class="navbar-start">
      <a class="navbar-item" href="<%= root_path %>">People</a>
      <a class="navbar-item" href="<%= species_index_path %>">Species</a>
      <a class="navbar-item" href="<%= vehicles_path %>">Vehicles</a>
      <a class="navbar-item" href="<%= films_path %>">Films</a>
      <a class="navbar-item" href="<%= starships_path %>">Starships</a>
      <a class="navbar-item" href="<%= planets_path %>">Planets</a>
      <a class="navbar-item" href="<%= about_path %>">About</a>
    </div>
    <%= form_tag(search_people_path, method: :get, preserve_params: [:name, :species_id], class: 'navbar-end') do %>
      <div class="navbar-item">
        <%= text_field_tag(:name, params[:name], id: 'name-input', placeholder: 'Search by Name', class: 'input') %>
      </div>
      <div class="navbar-item">
        <%= select_tag(:species_id, options_for_select(Species.all.map { |s| [s.name, s.id] }, params[:species_id]), include_blank: 'All Species', default: nil, class: 'select') %>
      </div>
      <div class="navbar-item">
        <%= submit_tag('Search', class: 'button is-primary') %>
      </div>
    <% end %>
  </div>


</nav>
