<p style="color: green"><%= notice %></p>

<h1>People</h1>

<div id="people">
  <% @people.each do |person| %>
    <%= render person %>
    <p>
      <%= link_to "Show this person", person %>
    </p>
  <% end %>
</div>

<% if @species %>
  <h2>People with Species: <%= @species.name %></h2>
  <% @species.people.each do |person| %>
    <p><%= person.name %></p>
  <% end %>
<% else %>
  <% @people.each do |person| %>
    <p><%= person.name %></p>
  <% end %>
<% end %>

<%= link_to "New person", new_person_path %>
