<div class="container">
<p class="has-text-primary"><%= notice %></p>

<% if @species %>
  <h2 class="title is-2">Characters with Species: <%= @species.name %></h2>
  <% @species.people.each do |person| %>
    <%= render partial: 'person', locals: { person: person } %>
  <% end %>
<% elsif @planet %>
  <h2 class="title is-2">Characters with Planet: <%= @planet.name %></h2>
  <% @planet.people.each do |person| %>
    <%= render partial: 'person', locals: { person: person } %>
  <% end %>
<% elsif @vehicle %>
  <h2 class="title is-2">Characters with Vehicle: <%= @vehicle.name %></h2>
  <% @vehicle.people.each do |person| %>
    <%= render partial: 'person', locals: { person: person } %>
  <% end %>
<% elsif @starship %>
  <h2 class="title is-2">Characters with Starship: <%= @starship.name %></h2>
  <% @starship.people.each do |person| %>
    <%= render partial: 'person', locals: { person: person } %>
  <% end %>
<% elsif @film %>
  <h2 class="title is-2">Characters with Film: <%= @film.title %></h2>
  <% @film.people.each do |person| %>
    <%= render partial: 'person', locals: { person: person } %>
  <% end %>
<% else %>
  <h1 class="title is-1">All Characters</h1>

  <div id="people" class='container'>
    <table class="table is-bordered">
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= link_to person.name, person, class: 'has-text-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @people.empty? %>
  <h3>No characters found in <%= @association_name %>.</h3>
<% end %>

<%= paginate @people, class: 'pagination is-centered is-small' %>

</div>