<p class="text-success"><%= notice %></p>

<%= paginate @people%>


<% if @species %>
  <h2>Characters with Species: <%= @species.name %></h2>
  <% @species.people.each do |person| %>
    <p> <%= link_to person.name, person %></p>
  <% end %>
<% elsif @planet %>
  <h2>Characters with Planet: <%= @planet.name %></h2>
  <% @planet.people.each do |person| %>
    <p> <%= link_to person.name, person %></p>
  <% end %>

<% elsif @vehicle %>
  <h2>Characters with Vehicle: <%= @vehicle.name %></h2>
  <% @vehicle.people.each do |person| %>
    <p><%= link_to person.name, person %></p>
  <% end %>
<% elsif @starship %>
  <h2>Characters with Starship: <%= @starship.name %></h2>
  <% @starship.people.each do |person| %>
    <p><%= link_to person.name, person %></p>
  <% end %>
<% elsif @film %>
  <h2>Characters with Film: <%= @film.title %></h2>
  <% @film.people.each do |person| %>
    <p><%= link_to person.name, person %></p>
  <% end %>
<% else %>
  <h1>All Characters</h1>

  <div id="people">
    <% @people.each do |person| %>
      <p>
        <%= link_to person.name, person %>
      </p>
    <% end %>
  </div>
<% end %>

<% if @people.empty? %>
  <h3>No characters found in <%= @association_name %>.</h3>
<% end %>






