<div class="container">
  <h1 class="display-4 mt-5">Search Results</h1>
  <% if @people.present? %>
    <p>
      Your search <%= params[:name].present? ? "for \"#{params[:name]}\"" : "" %>
      <%= @species.present? ? "in the \"#{@species.name}\" species category" : "All Species" %>
      found <%= @people.size %> characters.
    </p>

    <%= paginate @people, class: "pagination " %>

    <ul class="list-group mt-4">
      <% @people.each do |person| %>
        <li class="list-group-item"><%= link_to person.name, person_path(person), class: "text-primary" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No search results found.</p>
  <% end %>
</div>
