<div class="container">
  <h1 class="title is-1 mt-5">Search Results</h1>
  <% if @people.present? %>
    <p>
      Your search <%= params[:name].present? ? "for \"#{params[:name]}\"" : "" %>
      <%= @species.present? ? "in the \"#{@species.name}\" species category" : "All Species" %>
      found <%= @people.size %> characters.
    </p>

    <%= paginate @people%>

    <ul class="list-group mt-4 mb-4">
      <% @people.each do |person| %>
        <li class="list-group-item" style="list-style-type: disc;"><%= link_to person.name, person_path(person) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No search results found.</p>
  <% end %>
</div>
