<tr id="<%= dom_id planet %>">
  <td><%= planet.name %></td>
  <td><%= planet.diameter %></td>
  <td><%= planet.population %></td>
  <td><%= link_to "View Characters", planet_people_path(planet) %></td>
</tr>
